[Desktop Entry]
Name=Fedora 30 Default
X-KDE-PluginInfo-Name=Fedora 30 Default
X-KDE-PluginInfo-Author=Fedora Project
X-KDE-PluginInfo-Email=fedora-kde@lists.fedoraproject.org
X-KDE-PluginInfo-License=CC-BY-SA

Name[en_CA]=f30-metadata.desktop
