[Desktop Entry]
Name=Fedora 29 Default
X-KDE-PluginInfo-Name=Fedora 29 Default
X-KDE-PluginInfo-Author=Fedora Project
X-KDE-PluginInfo-Email=fedora-kde@lists.fedoraproject.org
X-KDE-PluginInfo-License=CC-BY-SA

Name[en_CA]=f29-metadata.desktop
