[Desktop Entry]
Name=Dark Blue (F42 Supplemental)

X-KDE-PluginInfo-Name=Dark Blue (F42 Supplemental)
X-KDE-PluginInfo-Author=Fedora Design Team
X-KDE-PluginInfo-Email=fedora-design@lists.fedoraproject.org
X-KDE-PluginInfo-Name=F42
X-KDE-PluginInfo-Version=42.0
X-KDE-PluginInfo-Website=https://fedoraproject.org/wiki/Design
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=CC-BY-SA 4.0
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0

[Settings]
FallbackTheme=default

[Wallpaper]
defaultWallpaperTheme=F42
defaultFileSuffix=.png
defaultWidth=1920
defaultHeight=1200

[Branding]
homepage=https://fedoraproject.org
