[Desktop Entry]
Name=Hex and Gears (F26 Supplemental)
X-KDE-PluginInfo-Name=Hex and Gears (F26 Supplemental)
X-KDE-PluginInfo-Author=cprofitt
X-KDE-PluginInfo-Email=fedora-design@lists.fedoraproject.org
X-KDE-PluginInfo-Name=F26
X-KDE-PluginInfo-Version=26.0
X-KDE-PluginInfo-Website=http://fedoraproject.org/wiki/Design
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=CC-BY-SA 4.0
X-KDE-PluginInfo-EnabledByDefault=true

[Settings]
FallbackTheme=default

[Wallpaper]
defaultWallpaperTheme=F26
defaultFileSuffix=.png
defaultWidth=1920
defaultHeight=1200

[Branding]
homepage=http://fedoraproject.org
